@font-face {
	font-family: Moon;
	//src: url('Moon Light.otf');
        src: url('Aaargh.ttf');
}
body {
	background: rgb(20,20,20);
}

.main-container {
	position : relative;
	margin: 0 auto;
	width:400px;
	border: none;
	border-radius: 10px;
	background: rgba(255,255,255,0.5);
}

#DNA-input-area {
	width: 100%;
	height: 200px;
	padding: 20px;
	text-align: center;
	overflow: hidden;
	resize: none;
}

#DNA-load-button {
	width : 360px;
	height : 50px;
	margin:20px;
	border: none;
	border-radius: 10px;
	background: #333;
	color: #eee;
}

#DNA-slider {
	position: fixed;
	width:375px;
	height:30px;
	bottom:20px;
	margin-left:12.5px;
	/*background: #eee;*/
}

.DNA-val {
	display:inline-block;
	height:30px;
	width:50px;
	text-align:center;
	font-family: Moon;
	font-size: small;
	color: #333;
}
#DNA0 {
	font-size: x-small;
}
#DNA1 {
	font-size: small;
}
#DNA2 {
	font-size: medium;
}
#DNA3 {
	font-size: larger;
	color: white;
	font-weight:bold;
	//background: rgba(255,255,255,0.75);
}
#DNA4 {
	font-size: medium;
}
#DNA5 {
	font-size: small;
}
#DNA6 {
	font-size: x-small;
}

/*-------INSTRUMENTS-----*/
#primary-instrument-container {
	position: fixed;
	width:212px;
	height:50px;
	bottom:20px;
	left:20px;
}
#secondary-instrument-container {
	position: fixed;
	width:212px;
	height:50px;
	bottom:20px;
	right:20px;
}
.instrument{
	width:50px;
	height:50px;
	position:relative;
	display:inline-block;
	box-sizing:border-box;
}
#primary1 {
	background: url('./resources/images/primary1.png') no-repeat;
	background-size:25px;
	background-position: center;
}
#primary2 {
	background: url('./resources/images/primary1.png') no-repeat;
	background-size:25px;
	background-position: center;
}
#primary3 {
	background: url('./resources/images/primary1.png') no-repeat;
	background-size:25px;
	background-position: center;
}
#primary4 {
	background: url('./resources/images/primary1.png') no-repeat;
	background-size:25px;
	background-position: center;
}
#secondary1 {
	background: url('./resources/images/secondary1.png') no-repeat;
	background-size:25px;
	background-position: center;
}
#secondary2 {
	background: url('./resources/images/secondary1.png') no-repeat;
	background-size:25px;
	background-position: center;
}
#secondary3 {
	background: url('./resources/images/secondary1.png') no-repeat;
	background-size:25px;
	background-position: center;
}
#secondary4 {
	background: url('./resources/images/secondary1.png') no-repeat;
	background-size:25px;
	background-position: center;
}
.underline {
	width:50px;
	height:2px;
	background:#eee;
	position:absolute;
	bottom:0px;
	display:none;
}


/*-----------Processing----------*/
#canvas {
	position:fixed;
	top:0px;
	left:0px;
	z-index:-1;
}

#canvas2 {
	position:fixed;
	top:0px;
	left:0px;
	z-index:-1;
}